.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis--y path {
    display: none;
}

.bar {
    fill: #2196F3;
    fill-opacity: .8;
}

.uk-bar {
    fill: #3F51B5;
    fill-opacity: 1 !important;
}

.chart-title {
    margin-bottom: 0;
}

.source {
    margin-top: 0;
    font-size: 11px;
}