body {
  margin: auto;
  /* width: 885px; */
  /* font: 10px arial; */
  /* padding: 25px; */
}

.y-axis line {
  opacity: .2;
}

.y-axis path {
  display: none;
}

.line {
  fill: none;
  stroke-width: 1.5px;
  opacity: .65;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.lineHoverText {
  text-shadow:
    -2px -2px 0 #fff,
    2px -2px 0 #fff,
    -2px 2px 0 #fff,
    2px 2px 0 #fff;
}

.hoverCircle {
  opacity: .75;
}

.UK {
  stroke-width: 4px;
  opacity: 1;
}