body {
    background-color: #2f475e;
    padding-top: 0px;
    font-family: 'Raleway', sans-serif;
}

#header {
    padding-top: 0px;
    color: white;
    text-align: center;
    font-size: 1.5em !important;
    font-family: 'Raleway', sans-serif;
}

#intro {
    padding-top: 20px;
    padding-bottom: 10px;
}

#italyNote {
    max-width: 300px;
    float: right;
    background-color: #eeeeee;
    margin-top: 20px;

    padding-left: 20px;
    margin-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
}

.articleText {
    padding-left: 100px;
    padding-right: 100px;
}

.caption {
    padding-left: 100px;
    padding-bottom: 40px;
    color: grey;
    font-size: 0.75em;
}

#content {
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
}

#g7-productivity {
    display: block;
    margin: auto;
}

#uk-output {
    display: block;
    margin: auto;
}

#uk-labour {
    display: block;
    margin: auto;
}

.footer {
    padding-bottom: 30px;
    padding-top: 30px;
}